<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.backend.domain.bean.mapper.query.BeanFlavorQueryMapper">
    <select id="findFlavorsByBeanId" resultType="com.backend.domain.flavor.entity.Flavor">
        SELECT f.*
        FROM flavors f
                 INNER JOIN bean_flavor_notes bfn ON f.id = bfn.flavor_id
        WHERE bfn.bean_id = #{beanId}
        ORDER BY f.id
    </select>

    <select id="findFlavorsByBeanIds" resultType="com.backend.domain.bean.dto.common.BeanFlavorDto">
        SELECT f.id as flavorId, bfn.bean_id as beanId
        FROM flavors f
        INNER JOIN bean_flavor_notes bfn ON f.id = bfn.flavor_id
        WHERE bfn.bean_id IN
        <foreach collection="beanIds" item="beanId" open="(" separator="," close=")">
            #{beanId}
        </foreach>
        ORDER BY bfn.bean_id, f.id
    </select>
</mapper>
