services:
  server:
    container_name: comeet
    image: zksdbstjq/comeet:latest
    build: .
    env_file:
      - .env
    environment:
      - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE:-dev}
    networks:
      - app-network
    depends_on:
      redis:
        condition: service_healthy

  redis:
    image: redis:8.4.0
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
      - ./redis.conf:/usr/local/etc/redis/redis.conf
    command: redis-server /usr/local/etc/redis/redis.conf
    networks:
      - app-network
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s

  nginx:
    container_name: nginx
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/certificate.crt:/etc/nginx/ssl/certificate.crt:ro
      - ./nginx/private.key:/etc/nginx/ssl/private.key:ro
      - ./nginx/ca_bundle.crt:/etc/nginx/ssl/ca_bundle.crt:ro
    depends_on:
      - server
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  redis_data: