<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.backend.domain.review.mapper.command.CuppingNoteCommandMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO cupping_notes (
            review_id,
            roast_level,
            fragrance_score,
            aroma_score,
            flavor_score,
            aftertaste_score,
            acidity_score,
            sweetness_score,
            mouthfeel_score,
            fragrance_aroma_detail,
            flavor_aftertaste_detail,
            acidity_notes,
            sweetness_notes,
            mouthfeel_notes,
            overall_notes,
            created_at,
            updated_at
        )
        VALUES (
            #{cuppingNote.reviewId},
            #{cuppingNote.roastingLevel},
            #{cuppingNote.fragranceScore},
            #{cuppingNote.aromaScore},
            #{cuppingNote.flavorScore},
            #{cuppingNote.aftertasteScore},
            #{cuppingNote.acidityScore},
            #{cuppingNote.sweetnessScore},
            #{cuppingNote.mouthfeelScore},
            #{cuppingNote.fragranceAromaDetail},
            #{cuppingNote.flavorAftertasteDetail},
            #{cuppingNote.acidityNotes},
            #{cuppingNote.sweetnessNotes},
            #{cuppingNote.mouthfeelNotes},
            #{cuppingNote.overallNotes},
            NOW(),
            NOW()
        )
    </insert>

    <update id="update">
        UPDATE cupping_notes
        SET review_id = #{cuppingNote.reviewId},
            roast_level = #{cuppingNote.roastingLevel},
            fragrance_score = #{cuppingNote.fragranceScore},
            aroma_score = #{cuppingNote.aromaScore},
            flavor_score = #{cuppingNote.flavorScore},
            aftertaste_score = #{cuppingNote.aftertasteScore},
            acidity_score = #{cuppingNote.acidityScore},
            sweetness_score = #{cuppingNote.sweetnessScore},
            mouthfeel_score = #{cuppingNote.mouthfeelScore},
            fragrance_aroma_detail = #{cuppingNote.fragranceAromaDetail},
            flavor_aftertaste_detail = #{cuppingNote.flavorAftertasteDetail},
            acidity_notes = #{cuppingNote.acidityNotes},
            sweetness_notes = #{cuppingNote.sweetnessNotes},
            mouthfeel_notes = #{cuppingNote.mouthfeelNotes},
            overall_notes = #{cuppingNote.overallNotes},
            updated_at = NOW()
        WHERE id = #{cuppingNote.id}
    </update>
</mapper>
