<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.backend.domain.review.mapper.command.ReviewCommandMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO reviews (visit_id, user_id, menu_id, store_id, content, is_public, image_url, deleted_at,
                             created_at,
                             updated_at)
        VALUES (#{review.visitId}, #{review.userId}, #{review.menuId}, #{review.storeId}, #{review.content}, #{review.isPublic}, #{review.imageUrl}, NULL, NOW(), NOW())
    </insert>
    <update id="update">
        UPDATE reviews
        SET content    = #{review.content},
            is_public  = #{review.isPublic},
            image_url  = #{review.imageUrl},
            updated_at = now()
        WHERE id = #{review.id}
    </update>
    <update id="softDelete">
        UPDATE reviews
        SET deleted_at = NOW()
        WHERE id = #{id}
    </update>
</mapper>