<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.backend.domain.bean.mapper.command.BeanCommandMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO beans (roastery_id, name, country, farm, variety, processing_method, roasting_level, created_at, updated_at)
        VALUES (#{bean.roasteryId}, #{bean.name}, #{bean.country}, #{bean.farm}, #{bean.variety}, #{bean.processingMethod}, #{bean.roastingLevel}, NOW(), NOW())
    </insert>

    <update id="update">
        UPDATE beans
        SET name              = #{bean.name},
            country           = #{bean.country},
            farm              = #{bean.farm},
            variety           = #{bean.variety},
            processing_method = #{bean.processingMethod},
            roasting_level    = #{bean.roastingLevel},
            updated_at        = NOW()
        WHERE id = #{id}
        <include refid="common.CommonSql.notDeleted"/>
    </update>

    <update id="softDelete">
        UPDATE beans
        SET deleted_at = NOW()
        WHERE id = #{beanId}
        <include refid="common.CommonSql.notDeleted"/>
    </update>
</mapper>
