<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.backend.domain.bean.mapper.query.BeanQueryMapper">
    <select id="findById" resultType="com.backend.domain.bean.entity.Bean">
        SELECT *
        FROM beans
        WHERE id = #{beanId}
          AND deleted_at IS NULL
    </select>

    <select id="findAllByRoasteryId" resultType="com.backend.domain.bean.entity.Bean">
        SELECT *
        FROM beans
        WHERE roastery_id = #{roasteryId}
          AND deleted_at IS NULL
        ORDER BY id DESC
    </select>

    <select id="findAllByIds" resultType="com.backend.domain.bean.entity.Bean">
        SELECT *
        FROM beans
        WHERE id IN
        <foreach collection="beanIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND deleted_at IS NULL
        ORDER BY id DESC
    </select>

    <select id="findAll" resultType="com.backend.domain.bean.entity.Bean">
        SELECT *
        FROM beans
        WHERE deleted_at IS NULL
        <choose>
            <when test="pageable.sort != null and pageable.sort.isSorted()">
                ORDER BY
                <foreach collection="pageable.sort" item="order" separator=",">
                    <choose>
                        <when test="order.property == 'id'">id</when>
                        <when test="order.property == 'country'">country</when>
                        <when test="order.property == 'createdAt'">created_at</when>
                        <otherwise>id</otherwise>
                    </choose>
                    <choose>
                        <when test="order.direction.name() == 'ASC'">ASC</when>
                        <when test="order.direction.name() == 'DESC'">DESC</when>
                        <otherwise>DESC</otherwise>
                    </choose>
                </foreach>
            </when>
            <otherwise>
                ORDER BY id DESC
            </otherwise>
        </choose>
        LIMIT #{pageable.pageSize} OFFSET #{pageable.offset}
    </select>

    <select id="countAll" resultType="int">
        SELECT COUNT(*)
        FROM beans
        WHERE deleted_at IS NULL
    </select>

    <select id="findByRoasteryId" resultType="com.backend.domain.bean.entity.Bean">
        SELECT *
        FROM beans
        WHERE roastery_id = #{roasteryId}
          AND deleted_at IS NULL
        <choose>
            <when test="pageable.sort != null and pageable.sort.isSorted()">
                ORDER BY
                <foreach collection="pageable.sort" item="order" separator=",">
                    <choose>
                        <when test="order.property == 'id'">id</when>
                        <when test="order.property == 'country'">country</when>
                        <when test="order.property == 'createdAt'">created_at</when>
                        <otherwise>id</otherwise>
                    </choose>
                    <choose>
                        <when test="order.direction.name() == 'ASC'">ASC</when>
                        <when test="order.direction.name() == 'DESC'">DESC</when>
                        <otherwise>DESC</otherwise>
                    </choose>
                </foreach>
            </when>
            <otherwise>
                ORDER BY id DESC
            </otherwise>
        </choose>
        LIMIT #{pageable.pageSize} OFFSET #{pageable.offset}
    </select>

    <select id="countByRoasteryId" resultType="int">
        SELECT COUNT(*)
        FROM beans
        WHERE roastery_id = #{roasteryId}
          AND deleted_at IS NULL
    </select>

    <select id="findByCountryContaining" resultType="com.backend.domain.bean.entity.Bean">
        SELECT *
        FROM beans
        WHERE country LIKE CONCAT('%', #{keyword}, '%')
          AND deleted_at IS NULL
        <choose>
            <when test="pageable.sort != null and pageable.sort.isSorted()">
                ORDER BY
                <foreach collection="pageable.sort" item="order" separator=",">
                    <choose>
                        <when test="order.property == 'id'">id</when>
                        <when test="order.property == 'country'">country</when>
                        <when test="order.property == 'createdAt'">created_at</when>
                        <otherwise>id</otherwise>
                    </choose>
                    <choose>
                        <when test="order.direction.name() == 'ASC'">ASC</when>
                        <when test="order.direction.name() == 'DESC'">DESC</when>
                        <otherwise>DESC</otherwise>
                    </choose>
                </foreach>
            </when>
            <otherwise>
                ORDER BY id DESC
            </otherwise>
        </choose>
        LIMIT #{pageable.pageSize} OFFSET #{pageable.offset}
    </select>

    <select id="countByCountryContaining" resultType="int">
        SELECT COUNT(*)
        FROM beans
        WHERE country LIKE CONCAT('%', #{keyword}, '%')
          AND deleted_at IS NULL
    </select>

    <select id="findByMenuId" resultType="com.backend.domain.bean.entity.Bean">
        SELECT b.*
        FROM beans b
                 INNER JOIN menu_bean_mappings mbm ON b.id = mbm.bean_id
        WHERE mbm.menu_id = #{menuId}
          AND b.deleted_at IS NULL
    </select>
</mapper>
