<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.backend.domain.bean.mapper.command.BeanCommandMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO beans (roastery_id, country, farm, variety, processing_method, roasting_level, created_at, updated_at)
        VALUES (#{roasteryId}, #{country}, #{farm}, #{variety}, #{processingMethod}, #{roastingLevel}, NOW(), NOW())
    </insert>

    <update id="update">
        UPDATE beans
        SET country           = #{country},
            farm              = #{farm},
            variety           = #{variety},
            processing_method = #{processingMethod},
            roasting_level    = #{roastingLevel},
            updated_at        = NOW()
        WHERE id = #{id}
          AND deleted_at IS NULL
    </update>

    <update id="softDelete">
        UPDATE beans
        SET deleted_at = NOW()
        WHERE id = #{id}
          AND deleted_at IS NULL
    </update>
</mapper>
