name: Gradle Build

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21

      - name: Make .env file
        run: |
          echo "${{ secrets.ENV_FILE }}" > .env
        shell: bash

      - name: Run CheckStyle
        run: ./gradlew checkstyleMain checkstyleTest

      - name: Grant execute permission to gradlew
        run: chmod +x ./gradlew

      - name: Run Build and Test
        run: ./gradlew clean build --no-daemon